body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
&__wrapper{
    padding: 2rem 2rem;
    border-radius: 10px;
    height: 50%;
    min-height: 600px;
    width: 350px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
&__header{
    margin-top: 0;
    text-align: center;
    margin-bottom: .5rem;
}
&__line{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
    &__container{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__inputs{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__label{
        margin-bottom: .2rem;
        font-weight: bold;
    }
    &__input{
        padding: .5rem .5rem;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        &:disabled{
            background-color: #cccccc;
            color: #666666;
        }
    }
    &__error{
        color: red;
        margin: 0;
        font-size: .75rem;
        margin-left: .25rem;
        position: absolute;
        bottom: -30%;
    }
}